@font-face {
  font-family: "Helvetica Neue";
  src: url(./fonts/HelveticaNeue-UltraLight.otf) format('opentype');
  font-weight: 600;
  font-style: 'normal';
}

@font-face {
  font-family: "Helvetica Neue Roman";
  src: url(./fonts/HelveticaNeue-Roman.otf) format('opentype');
}

body {
  background-color: black;
  color: white;
  max-width: 250px;
}

#timer {
  font-size: 64px;
  font-family: "Helvetica Neue";
}

#lapTable {
  font-family: "Helvetica Neue Roman";
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

.bestTime {
  color: green;
}

.worstTime {
  color: red;
}


#lapTable tr {
  height: 32px;
}
#lapTable td {
  border-style: solid;
  border-color: #202020;
  border-width: 1px 0px;
}
#lapTable td:nth-child(odd) {
  text-align: start;
}
#lapTable td:nth-child(even) {
  text-align: end;
}