@font-face {
  font-family: "Helvetica Neue";
  src: url(./fonts/HelveticaNeue-UltraLight.otf) format('opentype');
  font-weight: 600;
  font-style: 'normal';
}

@font-face {
  font-family: "Helvetica Neue Roman";
  src: url(./fonts/HelveticaNeue-Roman.otf) format('opentype');
}

body {
  background-color: black;
  color: white;
  max-width: 250px;
}

#timer {
  font-size: 64px;
  font-family: HelveticaNeue-UltraLight;
}

#lapTable {
  font-family: Helvetica;
  width: 100%;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

#toggleButton {
  size: 16px;
}

#lapResetButton {
  size: 16px;
}

.bestTime {
  color: green;
}

.worstTime {
  color: red;
}

td:nth-child(odd) {
  text-align: start;
}
td:nth-child(even) {
  text-align: end;
}